#footer{
    color:#f0f9ff;
    background-color:#343a40;
    bottom: 0px;
    position: absolute;
}
#footer2{
    color:#f0f9ff;
    background-color:#343a40;
    bottom: 0px;
    position: relative;
}
@media (max-width: 767px) {
    #footer {
        position: relative;
    }
}
  