#footer{
    padding:20px 0;
    color:#f0f9ff;
    background-color:#282d32;
    bottom: 0px;
    position: absolute;
    width: 100%;
}
@media (max-width: 767px) {
    #footer {
        position: relative;
    }
}
  